interactions:
- request:
    body: ''
    headers: &id001
      accept:
      - application/json
      accept-encoding:
      - gzip, deflate, br
      connection:
      - keep-alive
      host:
      - api.cdnlibs.org
      site-id:
      - '3'
      user-agent:
      - python-httpx/0.28.1
    method: GET
    uri: https://api.cdnlibs.org/api/constants?fields%5B%5D=genres
  response:
    body: &id002
      string: '{"data":{"genres":[{"id":32,"name":"\u0410\u0440\u0442","alt_name":[],"dsc":"","adult":false,"alert":false,"site_ids":[1,2,3,4,5],"blocked_for_country":[],"allowed_for_country":[],"allowed_for_domain":[],"anilist_id":null,"shiki_id":null,"mal_id":null,"is_media_spoiler":null,"is_general_spoiler":null},{"id":91,"name":"\u0411\u0435\u0437\u0443\u043c\u0438\u0435","alt_name":[],"dsc":"","adult":false,"alert":false,"site_ids":[1,2,3,4,5],"blocked_for_country":[],"allowed_for_country":[],"allowed_for_domain":[],"anilist_id":null,"shiki_id":null,"mal_id":null,"is_media_spoiler":null,"is_general_spoiler":null},{"id":34,"name":"\u0411\u043e\u0435\u0432\u0438\u043a","alt_name":[],"dsc":"\u0420\u0430\u0431\u043e\u0442\u0430,
        \u0441\u043e\u0434\u0435\u0440\u0436\u0430\u0449\u0430\u044f \u0[...]
- request:
    body: ''
    headers: *id001
    method: GET
    uri: https://api.cdnlibs.org/api/constants?fields%5B%5D=genres
  response:
    body: *id002
    headers: *id003
    status: *id004
version: 1
